PORT=8000
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
ISSUER_URL=https://custom-oidc-provider.onrender.com
REDIRECT_URI=http://localhost:8000/callback
SESSION_SECRET=your_secret_key
KAFKA_BROKERS=localhost:9092
